Project/Code/scjd.urlybird/src/main/java/suncertify/datafile/DataFileSchemas.dtd

<!ELEMENT DataFileSchemas (DataFileSchema+) >

<!ELEMENT DataFileSchema (Column+) >
<!ATTLIST DataFileSchema 
  		  key CDATA #REQUIRED
  		  offset CDATA  #REQUIRED
  		  recordLength CDATA #REQUIRED >

<!ELEMENT Column EMPTY >
<!ATTLIST Column 
  		  name CDATA #REQUIRED
  		  size CDATA #REQUIRED >